/* verifyBot.css */

.verifyBot {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #8e8686;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: (0.0,46);
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.verifyBot h3 {
    color: #d9534f;
    font-size: 18px;
    margin-bottom: 20px;
}

.AI_Reply {
    font-size: 16px;
    line-height: 1.6;
    color: #f7f6f6;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: center;
}

.verifyBot textarea {
    width: calc(100% - 20px);
    height: 150px;
    padding: 10px;
    border: 1px solid #c1b1b1;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: vertical;
    font-size: 16px;
    background-color: #646365;
    color: #fff;
}

.verifyBot button {
    padding: 10px 20px;
    background-color: #3016f7;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.verifyBot button:hover {
    background-color: #2604ff;
    transform: scale(1.05);
}

.verifyBot a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
    border-radius: 5;
}

.verifyBot a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}